<form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-text bg-white">
        <i class="fas fa-user-circle"></i>
      </div>
      <input
        type="text"
        class="form-control"
        formControlName="titular"
        placeholder="Titular"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-text bg-white">
        <i class="fas fa-credit-card"></i>
      </div>
      <input
        type="text"
        class="form-control"
        formControlName="numeroTarjeta"
        placeholder="Numero de tarjeta"
        maxlength="16"
      />
    </div>
  </div>
  <div class="row">
    <div class="from-group col-md-7">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-text bg-white">
            <i class="fas fa-calendar"></i>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="fechaExpiracion"
            placeholder="MM/YY"
            maxlength="5"
          />
        </div>
      </div>
    </div>
    <div class="from-group col-md-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-text bg-white">
            <i class="fas fa-key"></i>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="cvv"
            placeholder="CVV"
            maxlength="3"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button
      class="btn btn-success btn-lg btn-block"
      [disabled]="form.invalid"
      type="submit"
    >
      <i class="fas fa-database"></i> Aceptar
    </button>
  </div>
</form>
